.about-col {
  background-color: #d6d6d62e;
  height: 55px;
  border-radius: 2px;
}

.about-content {
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* background-color: #6362e5; */
  /* padding-top: 0px 20px; */
  padding: 20px;
  margin: 5px;
}

.about-content h3 {
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  /* padding:20px 40px; */
  /* width: 20%; */
  height: 55px;
  text-align: start;
  padding: 20px;
  background-color: #6362e5;
  border-radius: 2px;
}
