.whatwedo-card-col {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* border: 1px solid #f05454; */
  background-color: #f05454;
  /* width: 100%; */
  padding: 40px;
}

/* .whatwedo-card-col:hover {
  background: #6362e5 none repeat scroll 0 0;
  content: '';
  height: 100%;
  left: -100%;
  position: absolute;
  top: 0;
  transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -ms-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  width: 100%;
  z-index: -1;
} */

.whatwedo-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.whatwedo-icon svg {
  font-size: 35px;
  color: #ffffff;
}

.whatwedo-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.whatwedo-content h3 {
  font-size: 24px;
  font-weight: 600;
  color: #ffffff;
  padding: 10px;
  letter-spacing: 0px;
  font-family: var(--font-primary);
}

.whatwedo-content p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  /* width: 100%; */
  text-align: center;
  line-height: 25px;
  /* line-height: 50px; */
}

/* .the-main-service .item::after {
} */
