.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('../../assets/world-map.png');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /* position: relative; */
  /* height: 90vh; */
  margin-bottom: 20px;
  padding: 60px 0;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.footer-company-title {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.footer-company-title h1 {
  font-size: 35px;
  font-weight: 600;
  letter-spacing: 0.8px;
  color: #ffffff;
  font-family: var(--font-primary);
  text-transform: capitalize;
}

.footer-company-title span {
  color: #f05454;
}

.footer-company-title p {
  font-size: 18px;
  font-weight: 600;
  color: #9ea0a9;
  margin-bottom: 32px;
  line-height: 30px;
  margin-top: 20px;
}

.main-footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-footer h2 {
  font-size: 24px;
  line-height: 35px;
  color: #f05454;
  font-weight: 700;
  margin-bottom: 27px;
}

.main-footer a {
  font-size: 16px;
  font-weight: 600;
  color: #9ea0a9;
  line-height: 30px;
}

.main-footer-cont h2 {
  font-size: 24px;
  line-height: 35px;
  color: #f05454;
  font-weight: 700;
  margin-bottom: 25px;
}

.main-footer-cont p {
  font-size: 16px;
  font-weight: 600;
  color: #9ea0a9;
  line-height: 30px;
}

.footer-wrapper {
  display: flex;
  gap: 20px;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  /* border: 1px solid #2e3138; */
  background-color: #2e3138;
  height: 43px;
  width: 50px;
  color: #9ea0a9;
  border-radius: 2px;
  /* padding: 0 20px; */
}

.footer-icon svg {
  text-align: center;
  font-size: 25px;
}

.footer-copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
}

.footer-list {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-list p {
  font-size: 16px;
  font-weight: 600;
  color: #9ea0a9;
  text-decoration: none;
}

.footer-list h4 {
  font-size: 20px;
  font-weight: 600;
  color: #9ea0a9;
}

.footer-copyright h4:hover {
  color: #f05454;
}

.footer-list span {
  font-size: 20px;
  color: #9ea0a9;
}

.footer-copyright p:hover {
  color: #f05454;
}
