/* .ant-dropdown-menu .ant-dropdown-menu-submenu-title {
} */

.ant-dropdown .ant-dropdown-menu {
  background-color: #f05454;
  border: none !important;
  border-radius: 0;
  padding: 0 !important;
}

.ant-dropdown .ant-dropdown-menu .ant-dropdown-menu-item {
  font-size: 14px !important;
  font-weight: 600 !important;
  color: #fff !important;
}

.ant-dropdown-menu-item:hover {
  /* padding: 0px !important; */
  background-color: #007aff !important;
  border: 0 !important;
  border-radius: 0 !important;
}
