.ourpricing-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #373737;
  padding: 100px 0;
}

.ourpricing-main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.ourpricing-main-heading h1 {
  font-size: 40px;
  font-weight: 700;
  color: #f05454;
  padding: 40px 0;
}

.ourpricing-main-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 60px;
}

.ourpricing-card-wrap {
  background-color: #303030;
  height: 600px;
  margin-bottom: 20px;
}

.ourpricing-card-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 0;
}

.ourpricing-card-cont h2 {
  font-size: 25px;
  font-weight: 600;
  color: #6362e5;
  line-height: 26px;
  text-transform: uppercase;
  /* margin-top: 20px; */
}

.ourpricing-card-states {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f05454;
  padding: 25px 0;
}

.ourpricing-card-states p {
  font-size: 20px;
  font-size: 400;
  color: #ffffff;
}

.ourpricing-card-states span {
  font-size: 35px;
  font-weight: 700;
  color: #ffffff;
}

.ourpricing-card-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px 0;
}

.ourpricing-card-list p {
  font-size: 18px;
  font-weight: 400;
  color: #8997a7;
  padding: 15px 0;
  text-align: center;
  list-style: none;
}

.ourpricing-card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
}

.ourpricing-card-btn Button {
  background-color: #6362e5;
  border: none;
  border-radius: 2px;
  width: 170px;
  height: 50px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  /* letter-spacing: 1px; */
}

.ourpricing-card-wrap:hover {
  border: 1px solid #f05454;
}
