.ourteam-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #303030;
  padding: 60px 0;
}

.ourteam-main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ourteam-main-heading h1 {
  font-size: 40px;
  font-weight: 700;
  color: #f05454;
  padding: 40px 0;
}

.ourteam-main-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  padding-bottom: 60px;
}

.ourteam-image img {
  width: 100%;
}

.ourteam-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  gap: 50px;
}

.ourteam-icon svg {
  font-size: 30px;
  color: #a2a2a2;
}

.ourteam-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.ourteam-content h2 {
  margin-top: 16px;
  font-weight: 700;
  font-size: 20px;
  color: #f05454;
  margin-bottom: 5px;
}

.ourteam-content p {
  font-size: 14px;
  font-weight: 400;
  color: #fff;
  font-style: italic;
}
