.subbanner-container {
  /* background-image: url('../../assets/Background-image.png'); */
  background-repeat: no-repeat;
  background-position: 100%;
  background-size:cover;
  /* background-color: #000; */
  background: 
    linear-gradient(to bottom, 
      rgba(55, 54, 54, 0) 80%, 
      rgba(55, 54, 54, 1) 80% 100%),
    url('../../assets/Background-image.png'); 
}

.banner-content h1 {
  font-size: 56px;
  font-weight: 500;
  color: #6362e5;
  font-family: var(--font-secondary);
}

.banner-content p {
  font-size: 18px;
  font-weight: 400;
  color: #9ea0a9;
}

.banner-nav {
  display: flex;
  align-items: center;
  margin-bottom: 60px;
  gap: 10px;
}

.banner-nav h3 {
  font-size: 16px;
  font-weight: 700;
  color: #f05454;
  letter-spacing: 0;
}

.banner-nav span {
  font-size: 25px;
  color: #6362e5;
}

.banner-nav h4 {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  letter-spacing: 0;
}

.subbanner-wrap {
  display: flex ;
  justify-content: flex-end;
  margin-top: 100px;
}

.subbanner-image img{
    background-color: #373636;
    top: 40px;
    max-width: 349px;
    padding: 46px;
}

