.testimonial-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #373737;
}

.testimonial-main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 60px 0;
}

.testimonial-main-heading h2 {
  font-size: 32px;
  font-weight: 700;
  color: #f05454;
  padding-top: 20px;
}

.testimonial-main-heading p {
font-size: 16px;
font-weight: 400;
color: #ffffff;
padding-top: 20px;
}

.testimonial-carousel {
    padding: 20px 0;
}

.carousel-icon-wrap {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 60px;
}