.whatwedo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #373737;
  /* height: 100vh; */
  padding: 80px 0;
}

.whatwedo-main-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* padding: 25px 0; */
  padding-top: 100px;
}

.whatwedo-main-heading h2 {
  font-size: 32px;
  font-weight: 600;
  color: #f05454;
  padding: 20px 0;
}

.whatwedo-main-heading p {
  font-size: 16px;
  font-weight: 400;
  color: #ffffff;
  /* padding-top: 20px; */
  padding-bottom: 60px;
}
