/* Third Party CSS */

/* Theme CSS */
@import './_general.css';
@import './_antd.css';

/* Layout CSS */
@import './layout/verticalLayout.css';
@import './layout/MainMenu.css';
@import './layout/layout.css';
@import './layout/mobileLayout.css';

/* Component CSS */
@import './components/table.css';
@import './components/HeaderComp.css';
@import './components/SoftwareDevelopmentComp.css';
@import './components/WhatwedoComp.css';
@import './components//CardComp.css';
@import './components/OurPortfolioComp.css';
@import './components//OurPortfolioCard.css';
@import './components//AboutComp.css';
@import './components//AboutUs.css';
@import './components/ContactUSComp.css';
@import './components/Testimonials.css';
@import './components/TestimonialsCardsComp.css'; 
@import './components/OurTeam.css';
@import './components/OurPricing.css';
@import './components//Blog.css';
@import './components//Footer.css';
@import './components/Header.css';
@import  './components/SubBanner.css';
/* Page CSS */
@import './pages/login.css';
